body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header{
    padding-top: 5px;
    padding-bottom: 75px;
    background-color: #1f2937;
    margin-bottom: 0px;

}

#logo {
    float: left;
    font-size: 24px;
    color: #f9faf8;
    padding-left: 200px;
}

#navlist {
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 200px;
    float: right;
}

li {
    display: inline;
    float: left;
    padding-right: 10px;
}

.herocontainer {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 350px;
    background-color: #1f2937;

}


.left {
    float: left;
    width: 50%;
}

.right {
    
}
#maintext {
    padding-top: 50px;
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}

#secondarytext {
    margin: 0px;
    font-size: 18px;
    color:#e5e7eb;
}

#heroimage {
    display: inline;
    padding-top: 50px;
}


