body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.top-container {
    background-color: #1f2937;
    padding: 10px 200px 10px 200px;
    height: 450px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

#navitem {
    display: inline;
    padding: 0px 5px 0px 5px;
}

a:link, a:visited {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    width: 700px;
    height: 250px;
    padding-top: 50px;
}

.right {
    width: 500px;
    height: 250px;
    padding-top: 50px;
}

#maintext {
    padding-bottom: 10px;
    margin: 0px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}

#secondarytext {
    margin: 0px;
    font-size: 18px;
    color:#e5e7eb;
    padding-bottom: 10px;
}

#moreinfo {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 8px;
    padding: 4px 10px 4px 10px;
    border-color: transparent;
}

#heroimage {
    width: 500px;
    height: 250px;
}

.random-information {
    height: 400px;
    padding-top: 60px;
}

#information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin-top: 0%;
}

.images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.images-container a {
    padding: 10px;;
}

.images-container a img{
    width: 160px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.images-container a figcaption {
    font-size: 14px;
    color: grey;
    text-align: center;
}

.quote-container {
    height: 300px;
    background-color: #e5e7eb;
}

#quote-box {
    padding: 50px 250px 0px 250px;
}

#quote {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin-bottom: 0px;
}

#author-name {
    font-weight: bold;
    text-align: end;
    font-size: 20px;
}

.call-to-action {
    height: 250px;
    padding: 0px 200px 0px 200px;
    display: grid;
    align-items: center;
}

#action-box {
    margin: 0;
    padding: 45px 150px 45px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1b6cee;
    border-radius: 10px;
    
}

#action-text {
    color: #e5e7eb;
}

#action-heading {
    margin: 0px;
}

#action-message {
    margin: 0px;
}

#action-button {

}
#sign-up {
    background-color: #1b6cee;
    color: #f9faf8;
    border-color: white;
    border-radius: 5px;
    padding: 6px 16px 6px 16px;

}

footer {
    background-color: #1f2937;
    height: 100px;
    padding: 0px 200px 0px 200px;
    display: grid;
    align-items: center;
}

#footer-text {
    text-align: center;
    color: #f9faf8;
}


